
p {
	text-indent: 100%;
	white-space: nowrap;
    	overflow: hidden;
}	


h1 {
        color:green;
        position:fixed;
        right: 1%;
        bottom: 1%;
        width: 250px;
        background-color: orange;
        
}

body {
	
	<!--[if min-width: 992px;]>
	min-width: 992px;
	background-image:url('omfgdogs.gif');
	background-repeat:repeat;
	<![endif]-->
}

@media (min-width: 992px) {
  
	p {
		
		color: red;
		width: 75%;
	}
}

