body {
        text-align: center;
        background-color:rgb(255,255,255);
        font-family: 'Helvetica Neue', Helvetica, Arial, serif;
        font-size: small; /* You can use px here too! */
        color: rgb(0,0,0);
}
div{
        margin-top: -2%;
        margin-left: 15%;
        margin-right: 15%;
        font-size: 28px;
        border-color: Black;
        border-style: double;
        border-width: 10px;
        -moz-border-radius: 100px;
        -webkit-border-radius: 100px;
        -khtml-border-radius: 100px;
        border-radius: 100px;
}

h1 {
        text-align: center;
        font-size: 50px;
        font-style:italic;
        color: Black;
}

h2 {
        text-align: left;
        font-size: 20px;
        font-weight:bold;
        margin-left: 5%;
        /*margin-right: 5%;*/
}

p {
        font-family: Helvetica;
        font-size: 20px;
        margin-left: 7%;
        /*margin-right: 25%;*/
}

#cur_life{
        text-align: left;
        margin-top: -2%;
}

img {
            border-style: ridge;
            border-width: 5pt;
            border-color: black;
            /*margin-right: (width - 200);*/
}