body {
        background-color:rgb(255,255,255,);
        font-family: 'Helvetica Neue', Helvetica, Arial, serif;
        font-size: small; /* You can use px here too! */
        color: rgb(0,0,0);
}


h1 {
        font-size: 35px;
        font-style:italic;
        color: rgba(80,100,255,1);
}

h2 {
        font-size: 20px;
        font-weight:bold;
        margin-left: 5%;
        /*margin-right: 5%;*/
}



p {
        font-family: Helvetica;
        font-size: 18px;
        margin-left: 7%;
        /*margin-right: 25%;*/
}

img {
            border-style: ridge;
            border-width: 5pt;
            border-color: black;
            margin-right: screen-width - 200;
}