
body {
        background-color:rgba(10,20,200,0.7);
        font-family: 'Helvetica Neue', Helvetica, Arial, serif;
        font-size: small; /* You can use px here too! */
        color: rgb(64,64,64);
}
h1 {
        font-size: 35px;
        font-style:italic;
        color: black;
}

h2 {
        font-size: 20px;
        font-weight:bold;
        margin-left: 5%;
        /*margin-right: 5%;*/
}



p {
        font-family: Helvetica;
        font-size: 18px;
        margin-left: 7%;
        /*margin-right: 25%;*/
}
