body {
        /*background-color:rgb(0,0,0);*/
        background-color: White
        font-family: 'Helvetica Neue', Helvetica, Arial, serif;
        font-size: small; /* You can use px here too! */
        /*color: rgb(50,200,50);*/
        color: Black
        /*line-height: 24px;*/
        
    }
h1 {
        font-size: 35px;
        font-style:italic;
        line-height: 4px;
        /*color: Green;*/
        
    }

h2 {
        font-size: 20px;
        font-weight:bold;
        margin-left: 8%;
        line-height: 4px;
    }

h3{
        font-size: 24px;
        font-weight:bolder;
        margin-left: 5%;
        line-height: 4px;
    }

p {
        font-family: Helvetica;
        font-size: 18px;
        margin-left: 8%;
    }
    
#school {
        margin-left: 11%;
        line-height: 16px;
    }
    
li {
        font-family: Helvetica;
        font-size: 16px;
        margin-left: 8%;
        line-height: 20px
    }
  
#right{
        margin-top: -13%;
        margin-left: 25%;
}
#right_list{
        margin-top: 0%;
        margin-left: 33%;
}
    
#work_exp{
        list-style-type: upper-roman;
        margin-left: 8%;
    }
